# Web Framework
Flask>=3.0.3
Jinja2>=3.1.4
Werkzeug>=3.0.3
gunicorn>=22.0.0


# Data Analytics (Essential for Basketball Stats)
pandas>=2.2.2
numpy>=1.26.4

#User Authentication
Flask-Login>=0.6.3
SqlAlchemy>=2.0.49

# Environment Management
python-dotenv>=1.0.1